@import '../vars';


.avatar {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;

    &.user {
      float: right;
      background-color: $grey;
      margin-left: .5rem;
    }

    &.opsdroid {
      float: left;
      background-color: $primary;
      margin-right: .5rem;
    }

    .user-icon, .opsdroid-icon, .user-avatar {
      height: 50px;
      width: 50px;
      color: $tertiary;
    }
}

.message {
  li {
    text-align: left;
    padding: 10px;
    max-width: 60%;
    border-radius: 10px;
    display: block;
    white-space: pre-wrap;
    word-break: break-word;

    p {
      margin: 0;
    }
    .timestamp {
      opacity: .5;
      padding:0 .5rem;
      font-weight: normal;
    }

    .username {
      display: flex;
      flex-direction: row;
      text-transform: capitalize;
      font-weight: 600;
    }
    .username.invert {
      flex-direction: row-reverse;
    }
  }

  li.clearfix {
    width: 100%;
    height: 5px;
    padding: 0;
    content: '';
    display: block;
    clear: both;
  }

  li.user {
    float: right;
    background-color: $primary-medium;
    color: $tertiary;
    border-top-right-radius: 0px;

    .image-url {
      color: $tertiary;
    }
  }

  li.opsdroid {
    float: left;
    background-color: $grey;
    color: $primary;
    border-top-left-radius: 0px;

    .image-url {
      color: $primary;
    }
  }

  .image {
    content: '';
    display: block;
    margin-top: .5rem;
    padding-top: 45%;
    min-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  li.info {
    min-width: 100px;
    margin: 0 auto;
    display: inline-block;
    padding: 1px;
    text-align: center;
    background-color: $opsdroid-grey-light;
    color: $opsdroid-grey-dark;
  }

  li.timestamp {
    background-color: transparent;
    font-size: 0.8em;
    color: $opsdroid-grey-dark;
    padding: 0;
    margin: 0;
  }
}