@import "../vars.scss";

.navbar {
    background-color: $opsdroid-blue;
    width: 100%;
    height: $prompt-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
    position:fixed;
    z-index:10;
    top: 0;

    .icon {
        color: $tertiary;
        width: 20px;
        height: 20px;
        margin-right: .2rem;
    }

    .open {
        color: lighten($primary, 20%);
    }

    .navbar-right {
        display: flex;

        .connection-button {
            color: $tertiary;
            display: flex;
            align-items: center;
            margin-right: $spacing;
        }

        .settings-button {
            margin-right: $spacing;
        }
    }
    .error-message {
        position: absolute;
        background: $grey;
        top: 2.5rem;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: center;
        color: $dark;
    }
}

.logo {
    height: 50px;
}