@import '../vars';

.prompt {
  position: fixed;
  bottom: 0;
  width: 100%;

  .container {
    position: relative;
    display: flex;
    justify-content: center;
  }
  #input {
    bottom: 0;
    width: 65%;
    left: 0;
    margin: $spacing;
  }

  #align-with-input {
    margin: $spacing;
  }

  .icon {
    color: $primary;
    width: 20px;
    height: 20px;
  }

  #status-indicator {
    content: '';
    position: fixed;
    cursor: pointer;
    height: $status-indicator-size;
    bottom: calc($prompt-height / 2) - calc($status-indicator-size / 2);
    right: 110px;
    margin: $spacing;

    #status-indicator-tooltip {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 10px;
      border-radius: 6px;

      position: absolute;
      z-index: 1;
      top: calc(-5px - calc($status-indicator-size / 2));
      right: 120%;
    }

    #status-indicator-tooltip.show {
      visibility: visible;
    }

    #status-indicator-tooltip::after {
      content: " ";
      position: absolute;
      top: 50%;
      left: 100%;

      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent black;
    }
  }

  #status-indicator:hover {
    #status-indicator-tooltip {
      visibility: visible;
    }
  }

  #status-indicator.active {
    background-color: $opsdroid-grey-dark;
  }
}