@import "../vars";

#settings {
  // position: fixed;
  min-height: 100vh;
  width: 100%;
  left: 0px;
  bottom: $prompt-height;
  background-color: $tertiary;
  border-bottom: 1px solid $opsdroid-grey;
  padding: 0 $spacing;
}

#settings.active {
  display: block;
}

.settings-icon {
    color: $primary;
    width: 20px;
    height: 18px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: $elements-size;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $grey;

    &::before {
        position: absolute;
        content: "";
        height: $elements-size;
        width: $elements-size;
        background-color: $primary;
        border-radius: 50%;
        transition: .4s;
    }

    &.round {
        border-radius: 34px;
        background-color: $grey;

        &::before {
            border-radius: 50%;
        }
    }
}

input:checked + .slider {
    background-color: $primary-lightest;
}

input:focus + .slider {
    box-shadow: 0 0 1px $primary-lightest;
}

input:checked + .slider:before {
    transform: translateX(2rem);
}

.settings-text {
    width: 90px;
}

.accentButton {
    border-radius: 50%;
    width: $elements-size;
    height: $elements-size;
    margin-right: .5rem;

    &.blue {
        background-color: $primary;
    }

    &.green {
        background-color: $secondary;
    }
}
