@import '../vars';

.updates-available {
  width: 100%;
  padding: 10px;
  background-color: $opsdroid-blue;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    padding-right: .5rem;
  }
}