@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  letter-spacing: .03em;
  line-height: 1.6;
}

h2 {
  font-size: 1.2em;
}

img.banner {
  position: fixed;
  bottom: 0px;
  left: -400px;
  filter: brightness(50%);
  z-index: -1;
}

input {
  height: $input-height;
  background-color: $grey;
  color: $primary;
  padding: 0;
  padding-left: 10px;
  margin: 0;
  border: 0;
  outline: none;
  border-radius: 5px;
  &::-webkit-input-placeholder {
    color: $primary;
  }
}

input[type=submit] {
  cursor: pointer;
  border: 0;
  height: $prompt-height;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: $opsdroid-grey-medium;
}

button {
  cursor: pointer;
  border: 0;
  height: $prompt-height;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.padding-left {
  padding-left: $spacing;
}

.padding-right {
  padding-right: $spacing;
}

.padding-top {
  padding-top: $spacing;
}

.padding-bottom {
  padding-bottom: $spacing;
}

.inactive {
  display: none;
}

.active {
  display: block;
  visibility: visible !important;
}